client/Connected Services/ServiceBookReference/ServiceBook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceBook" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59213/ServiceBook.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59213/ServiceBook.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59213/ServiceBook.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:59213/ServiceBook.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59213/ServiceBook.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:59213/ServiceBook.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBook_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IServiceBook_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBook_GetAllBooksIdsByPhrase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksIdsByPhrase" />
  </wsdl:message>
  <wsdl:message name="IServiceBook_GetAllBooksIdsByPhrase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksIdsByPhraseResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBook_GetAllBooksIdsByPhrase_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="IServiceBook_GetBookById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookById" />
  </wsdl:message>
  <wsdl:message name="IServiceBook_GetBookById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBook_GetBookById_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q2:FaultException" />
  </wsdl:message>
  <wsdl:portType name="IServiceBook">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBook/HelloWorld" message="tns:IServiceBook_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBook/HelloWorldResponse" message="tns:IServiceBook_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooksIdsByPhrase">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBook/GetAllBooksIdsByPhrase" message="tns:IServiceBook_GetAllBooksIdsByPhrase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBook/GetAllBooksIdsByPhraseResponse" message="tns:IServiceBook_GetAllBooksIdsByPhrase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceBook/GetAllBooksIdsByPhraseFaultExceptionFault" name="FaultExceptionFault" message="tns:IServiceBook_GetAllBooksIdsByPhrase_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBook/GetBookById" message="tns:IServiceBook_GetBookById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBook/GetBookByIdResponse" message="tns:IServiceBook_GetBookById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceBook/GetBookByIdFaultExceptionFault" name="FaultExceptionFault" message="tns:IServiceBook_GetBookById_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBook" type="tns:IServiceBook">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IServiceBook/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooksIdsByPhrase">
      <soap:operation soapAction="http://tempuri.org/IServiceBook/GetAllBooksIdsByPhrase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBookById">
      <soap:operation soapAction="http://tempuri.org/IServiceBook/GetBookById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBook">
    <wsdl:port name="BasicHttpBinding_IServiceBook" binding="tns:BasicHttpBinding_IServiceBook">
      <soap:address location="http://localhost:59213/ServiceBook.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>